  .container {
    padding: 0.5rem;
  }
  
  .headerRow {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    gap: 2rem;
  }
  
  .searchInput {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    min-width: 550px;
  }

.filterHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.hamburgerIcon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.selects {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.selectDropdown {
  min-width: 200px;
  font-size: 1rem;
  color: #cc0000;
}

.movieRow {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  overflow-x: auto;
  padding-bottom: 1rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.movieRow::-webkit-scrollbar {
  display: none;
}

.movieCard {
  flex: 0 0 auto;
  width: 130px;
  text-align: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.movieCard:hover {
  transform: scale(1.05);
}

.movieImage {
  width: 100%;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.movieDetails {
  margin-top: 0.5rem;
  font-size: 0.95rem;
  text-align: center;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  display: block;
}

.heart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.heart svg:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease;
}

.buttonGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.buttonGroup button,
.clearBtn {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #0077cc;
  color: white;
  cursor: pointer;
}

.clearBtn {
  background-color: #b59e2e;
}

.clearBtn:hover {
  background-color: #ffd500;
}

.buttonGroup button:hover {
  background-color: #005fa3;
}

@media (max-width: 575.98px) {
  .hamburgerIcon {
    display: block;
  }

  .selects {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    border-radius: 6px;
  }
  .showFilters {
    display: flex !important;;
  }
  .movieCard {
    min-width: 100px;
    max-width: 120px;
  }

  .movieImage {
    width: 90%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .movieCard {
    min-width: 110px;
    max-width: 130px;
  }

  .movieImage {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .movieCard {
    min-width: 120px;
    max-width: 150px;
  }

  .movieImage {
    width: 95%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .movieCard {
    min-width: 140px;
    max-width: 170px;
  }

  .movieImage {
    width: 95%;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .movieCard {
    min-width: 160px;
    max-width: 190px;
  }
}

@media (min-width: 1400px) {
  .movieCard {
    min-width: 180px;
    max-width: 220px;
  }
}
